h1, h2, p {
  padding: 1rem 0.5rem;
  text-align: center;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  gap: 1rem;
}
