.slider-container {
  overflow: hidden;
  cursor: grab;

  &.empty{
    cursor: default;
  }

  &:active:not(.empty) {
    cursor: grabbing;
  }

  .items-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    gap: 15px;
    padding-bottom: 20px;
    transition: transform 0.1s ease-out;
    user-select: none;
  }
}
