.movie-card {
  display:flex;
  flex-direction: column;
  gap: 0.5rem;
  height:100%;
  border: 1px solid var(--outline-variant);
  border-radius: var(--border-radius);
  padding: 1rem;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--surface);
  color: var(--on-surface);
  cursor: pointer;

  .movie-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--surface-variant);
    gap: 0.5rem;
    line-height: 1.45rem;
    height: 3rem;
    padding-bottom: .75rem;

    .movie-title {
      font-size: 1.2rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: var(--on-surface);
    }

    .movie-rating {
      width: 35%;
      font-size: 1.2rem;
      text-align: right;
      font-weight: bold;

      .rating-score {
        color: var(--on-surface);
      }
    }
  }

  .movie-image-container {
    text-align: center;
    padding: 0.2rem;

    .movie-image {
      width: 100%;
      height: 12rem;
      object-fit: cover;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      pointer-events: none;
    }
  }

  .movie-bottom-container {

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .movie-years{
      padding: 0.2rem 0;
      display: flex;
      justify-content: space-between;

      .years-label {
        font-weight: bold;
        color: var(--on-surface-variant);
        display: block;
      }
    }

    .movie-genres, .movie-tags, .movie-years {

      .genre-label, .tag-label{
        font-weight: bold;
        color: var(--on-surface-variant);
        display: block;
      }
    }

    .tags-list, .genres-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      gap: 5px;
      padding: 0.2rem;

      .genre-item {
        display: inline-block;
        background-color: var(--secondary-container);
        color: var(--on-secondary-container);
        padding: 3px 8px;
        border-radius: 5px;
      }

      .tag-item {
        display: inline-block;
        background-color: var(--primary-container);
        color: var(--on-primary-container);
        padding: 3px 8px;
        border-radius: 5px;
      }

    }
  }

}







