div{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

span{
  border: 1px solid var(--error-color);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  color: var(--error-color);
  justify-content: center;
  align-items: center;

}
