div{
  background: var(--primary-container);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 5rem;

  h1{
    padding-left: 5rem;
    color: var(--on-primary-container);
  }
  button:hover{
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
  }

}
