div{
  background: var(--primary-container);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1{
    padding: 1rem 3rem;
    color: var(--on-primary-container);
  }

  .button-container{
    display: flex;
    gap: 1rem;
    padding-right: 3rem;

    .register{
      background-color: var(--tertiary);
      color: var(--on-tertiary);

      &:hover{
        background-color: var(--tertiary-container);
        color: var(--on-tertiary-container);
      }
    }

    button:hover{
      background-color: var(--secondary-container);
      color: var(--on-secondary-container);
    }
  }
}
