<div class="modal-overlay" (click)="onCancel()"></div>

<div class="modal-container">
  <div class="modal-header">
    <h3>Insert your rating for {{ movie().title }}</h3>
  </div>

  <div class="modal-body">
    <label for="inputData">Your note :</label>
    <input id="inputData" type="number" [ngModel]="rating()" (ngModelChange)="rating.set( $event)"/>
  </div>

  <div class="modal-footer">
    <button class="md-button cancel-button" (click)="onCancel()">Cancel</button>
    <button class="md-button" [disabled]="!rating()" (click)="onConfirm()">Confirm</button>
  </div>
</div>
