<div [style.cursor]="state().status === 'loading' ? 'wait' : 'default'">

  @if (isAuthenticated()) {
    <h2>Recommended Movies</h2>
    @if (state().status === 'view') {
      <div class="container">
        <app-slider-movie [movies_list]="recommendMovie()"></app-slider-movie>
      </div>
    }
    @else if (state().status === 'no-result') {
      <div class="no-result">
        <h3>No result for this search</h3>
      </div>
    }
  }

  <h2>Catalogue</h2>
  <div class="container">
    <app-search-filter (onSearchFilter)="onSearchFilter($event)"
                       [isLoading]="state().status === 'loading'"
                       [availableGenres]="genreMovie()" ></app-search-filter>
  </div>

  <app-pagination (changePage)="onPageChange($event)"
                  [paginationDetail]="pagination()"></app-pagination>
  @if (state().status === 'view') {
    <div class="container movie-grid" >
      @for (movie of catalogMovie(); track movie.id) {
        <app-card-movie
          (click)="openPopup(movie)"
          [movie]="movie"></app-card-movie>
      }
    </div>
    @if (isPopupVisible()) {
      <app-popup-modal [movie]="selectedMovie()!"
                       (confirm)="confirmPopup($event)"
                       (close)="closePopup()"></app-popup-modal>
    }
  }
  @else if (state().status === 'no-result') {
    <div class="no-result">
      <h3>No result for this search</h3>
    </div>
  }

</div>

