<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="genre">Genre :</label>
    <select id="genre" formControlName="genre_name">
      <option value="">All Genres</option>
      @for (genre of availableGenres(); track genre) {
        <option [value]="genre">{{ genre }}</option>
      }
    </select>
  </div>

  <div>
    <label for="title">Title :</label>
    <input id="title" type="text" formControlName="title" />
  </div>

  <div>
    <label for="year">Year :</label>
    <input id="year" type="number" formControlName="year" />
  </div>

  <button [disabled]="isLoading()" class="md-button" type="submit">Rechercher</button>
</form>
