
<nav class="pagination">
  <button class="pagination-button" (click)="onPreviousClick()" [disabled]="!paginationDetail().has_prev">Previous</button>
  <button class="pagination-button" [class.active]="currentPage() === 1" (click)="goToPage(1)">1</button>


  @if (currentPage() > 3){
    <span class="pagination_dots">...</span>
  }

  @if ( currentPage() > 1 && currentPage() != 2){
    <button class="pagination-button" [class.active]="currentPage() === currentPage()-1" (click)="goToPage(currentPage()-1)">{{ currentPage()-1 }}</button>
  }

  @if (currentPage() != 1){
    <button class="pagination-button" [class.active]="true" (click)="goToPage(currentPage())">{{ currentPage() }}</button>
  }

  @if (currentPage() < nbPages()-1){
    <button class="pagination-button" [class.active]="currentPage() === currentPage()+1" (click)="goToPage(currentPage()+1)">{{ currentPage()+1 }}</button>
  }

  @if (currentPage()<nbPages()-2){
    <span class="pagination_dots">...</span>
  }

  @if (currentPage() != nbPages()) {
    <button class="pagination-button" [class.active]="currentPage() === nbPages()" (click)="goToPage(nbPages())">{{nbPages()}}</button>
  }

  <button class="pagination-button" (click)="onNextClick()" [disabled]="!paginationDetail().has_next">Next</button>
</nav>
